[Unit]
Description=Python watchdog to extract from zip files and add entries to BIMI table

[Service]
Type=simple
ExecStart=/usr/bin/python3.8 /home/ionadmin/ngs_variant_annotation/variantAnnotation/scripts/watchdogScripts/watchdog_zip_xlsx_files.py
WorkingDirectory=/mnt/NGS_Diagnostik/Patientendaten
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
RestartSec=10s
User=root

[Install]
WantedBy=multi-user.target
