[Unit]
Description=Python script to annotate IR output

[Service]
Type=simple
ExecStart=/usr/bin/python3.8 /home/ionadmin/ngs_variant_annotation/variantAnnotation/scripts/watchdogScripts/watchdog_zip_xlsx_files.py
WorkingDirectory=/mnt/NGS_Diagnostik/Patientendaten
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
RestartSec=10s
User=root

[Install]
WantedBy=multi-user.target
